BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 160
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
DerivePointerAlignment: false
PointerAlignment: Right
MaxEmptyLinesToKeep: 1
SeparateDefinitionBlocks: Leave