# =========================
# CLion / JetBrains IDE
# =========================
# Ignore personal settings and UI history
.idea/workspace.xml
.idea/tasks.xml
.idea/vcs.xml
.idea/shelf/
.idea/dictionaries/
.idea/compiler.xml
.idea/assetWizardSettings.xml
.idea/caches/
.idea/modules.xml

# The rest of the .idea folder (like runConfigurations, toolchains, code styles) WILL BE PUSHED


# =========================
# CMake Build Directories
# =========================
# Do not push compiled artifacts, each machine will build its own
cmake-build-*/
build/
out/
bin/

# =========================
# C++ and Compiled Files
# =========================
# Binaries
*.exe
*.dll
*.so
*.dylib
*.a
*.lib

# Object and temporary files
*.o
*.pdb
*.idb
*.ilk
*.exp
*.suo
*.user
